@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800;900&family=Roboto:ital,wght@1,100&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/* kleuren:
   grijs #899CA0
   donkergroen #1C2B32
   */

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:link {
    color: #899CA0;
}

a:hover {
    text-decoration: none;
}
/*////////////////////////
    2. Typography
////////////////////////*/

body, input, button {
    font-family: 'Poppins', 'Roboto', sans-serif;
    color: #1C2B32;

}

h1 {
    font-weight: 700;
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 32px;
    padding: 40px;
    text-align: center;
}

/*p {*/
/*    line-height: 35px;*/
/*}*/
/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: center;
}

.header-text {
    padding: 100px 100px 300px 300px;
    text-align: center;
}

.domain-available {
    background: none;
    width: 300px;
    height: 50px;
    margin: 20px -5px;
    padding: 0 25px;
    border: 3px solid #1C2B32;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

input::placeholder {
    color: #1C2B32;
}

.header-button {
    background-color: #1C2B32;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    margin: 20px -5px;
    border: 2px solid #1C2B32;
    border-radius: 0 25px 25px 0;
}
/*///////////// 3.2 Testimonial /////////////*/

main {
    max-width: 1000px;
    margin: 10px 25%;
}

.testimonial {
    position: relative;
    text-align: left;
    line-height: 35px;
    padding: 50px 50px 50px 120px;
    margin: 20px 0;
    box-shadow: -5px 5px 15px rgba(189, 189, 190, 0.8);
    border-radius: 10px;
}
.testimonial > img {
    position: absolute;
    width: 30px;
    top: 50px;
    left: 70px;
}

.reviewer {
    display: inline-block;
}

.reviewer img {
    vertical-align: middle;
    border-radius: 50%;
    width: 44px;
    margin: 20px;
}

/*///////////// 3.3 Support /////////////*/

img {
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;

}

.contact {
    background-color: #1C2B32;
    color: #FFFFFF;
    width: 160px;
    height: 50px;
    margin: 20px 0;
    border: 2px solid #1C2B32;
    border-radius: 25px;
}

/*///////////// 3.4 Faq /////////////*/

details {
    /*line-height: 35px;*/

}
details > summary {
    cursor: pointer;
    line-height: 60px;
}

details > p {
    padding: 35px;
    color: #FFFFFF;
    background-color: #899CA0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    list-style: none;
}
/*///////////// 3.5 Footer /////////////*/

.footer-page {
    height: 100px;
    background-color: #1C2B32;
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
    line-height: 100px;

}